export(controlpars)
export(prodlim_curepk)
export(prob_curepk)
export(latency_curepk)
importFrom(stats, "IQR")
importFrom(stats, "approxfun")
importFrom(stats, "integrate")
importFrom(stats, "na.omit")
importFrom(stats, "quantile")
importFrom(utils, "setTxtProgressBar")
importFrom(utils, "tail")
importFrom(utils, "txtProgressBar")
importFrom(foreach, "%dopar%")
